<div class="advantages">
  <div class="advantage">
    <span class="adv_number">01</span>
    <img class="adv-mech" src="img/mech.png" alt="" />
    <h3 class="adv_header">Power Inside</h3>
    <p class="adv_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <a href=""><span class="adv_more">Read More <span class="adv_arrow">&#65515</span></span></a>
  </div>
  <div class="advantage">
    <span class="adv_number">02</span>
    <img class="adv-mech" src="img/levels.png" alt="" />
    <h3 class="adv_header">New Technologies</h3>
    <p class="adv_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <a href=""><span class="adv_more">Read More <span class="adv_arrow">&#65515</span></span></a>
  </div>
  <div class="advantage">
    <span class="adv_number">03</span>
    <img class="adv-mech van" src="img/van.png" alt="" />
    <h3 class="adv_header">Fast Support</h3>
    <p class="adv_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href=""><span class="adv_more">Read More <span class="adv_arrow">&#65515</span></span></a>
  </div>
</div>
<div class="services">
  <section class="serv-cover">
    <h3 class="serv-heading">Our services</h3>
    <ul class="sev-list">
      <li class="serv-item"><a href=""><img src="img/service1.jpg" alt="" /><img class="serv-overlay" src="img/overlay.png" alt="" /><p>
        Schedule Serivces
      </p></a></li>
      <li class="serv-item"><a href=""><img src="img/service2.jpg" alt="" /><img class="serv-overlay" src="img/overlay.png" alt="" /><p>
        Preventive maintence
      </p></a></li>
      <li class="serv-item"><a href=""><img src="img/service3.jpg" alt="" /><img class="serv-overlay" src="img/overlay.png" alt="" /><p>
        Tire and While Services
      </p></a></li>
      <li class="serv-item"><a href=""><img src="img/service4.jpg" alt="" /><img class="serv-overlay" src="img/overlay.png" alt="" /><p>
        Repair services
      </p></a></li>
    </ul>
  </section>
</div>
