body {
    background-color: #ccc;
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-family: "Lato";
    font-size: 100px;
    font-weight: bold;
}

button {
  width: 100px;
  height: 35px;
}

button:hover {
  cursor: pointer;
}
